<!DOCTYPE html>
<html>
<head>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Pathfinder 🚀</h1>
    <p class="subtitle">Your one-stop AI career guidance portal</p>

    <div class="card-grid">

        <div class="card" onclick="location.href='/future'">
            <div class="card-icon">🚀</div>
            <div class="card-title">Future Career Simulator</div>
            <div class="card-desc">
                See your career in 1, 3, and 5 years
            </div>
        </div>

        <div class="card" onclick="location.href='/skillgap'">
            <div class="card-icon">✅</div>
            <div class="card-title">Skill Gap Analyzer</div>
            <div class="card-desc">
                Find missing skills & roadmap
            </div>
        </div>
        <div class="card" onclick="location.href='/resume'">
  <div class="card-icon">📄</div>
  <div class="card-title">Resume Analyzer</div>
  <div class="card-desc">
    ATS score & resume improvement tips
  </div>
</div>


        

    </div>

    <div class="footer">
        Built for Codeathon 💡
    </div>
</div>

</body>
</html>
